/* Стилі Tablet */
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 16px;
        
      }

      .header-nav {
        height: 72px;
      }

      .nav-menu {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 40px;
      }
      .addres-nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0;
        padding: 0;
      }
      .nav-menu-button {
        display: none;
      }
      .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
      }
      .nav-logo {
        margin-right: 120px;
      }

      .nav-link {
        font-size: 16px;
      }

      .section-one {
        width: 100%;
        height: 436px;
        padding-top: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/officetablet.jpg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      }

      .main-title {
        max-width: 496px;
        font-size: 56px;
        margin-bottom: 36px;
      }

      .button {
        margin-bottom: 40px;
        padding: 16px 32px;
      }

      .features-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 72px 24px;
        
    }

    .title-list {
        text-align: start;
    }
  

    .our-team-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 64px 24px;
        justify-items: center;
        
    }
    .ul-our-team {
        gap: 50px;
    }

    .portfolio-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 64px 24px;
        justify-items: center;
    }

 .bottom-logo {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 92px;
 }
 .bottom-text { 
  width: 264px;
 }
 .bottom-icon-list {
  width: 208px;
 }
 .icon-text {
  text-align: start;
 }
 
.bottom-grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 24px;
}

.form-footer {
  margin-left: 92px;
}

.form-label {
  text-align: start;
}

.subscribe-form {
  flex-direction: row;
}

.subscribe-item {
  width: 264px;
}

}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-one {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url('../images/officetablet@2x.jpg');
  }
    
    
}

/* Стилі Desktop */

@media screen and (min-width: 1158px) {
  .addres-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  .address {
    font-style: normal;
    
  }
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 16px;
 
  }
  .nav-logo {
    margin-right: 72px;
}
.header-nav {
  width: auto;
  
}

.address-link {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;

}

.section-one {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:  linear-gradient(rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), url('../images/officedestop1.jpg');
}
.section-two-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  
  }
  .section-one-item {
  width: calc((100% - 72px) / 4);
}
.features-list {
  display: flex;
  
  grid-gap: 72px 24px;
  flex-direction: row;
}
.section-two {
  padding: 120px 0;
  width: 1128px;
}
.features-list {
  display: flex;
  gap: 24px;
  flex-direction: row;


}
.title-list{
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
}
.p-features{
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.section-three {
  padding: 120px 0;
}


.our-team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.section-four {
  padding: 120px 0;
}

.portfolio-list {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 0;
        justify-items: center;
}
 



}


@media screen and (min-width: 1158px) {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
  .form-footer {
    margin-left: 80px;
}
.bottom-desctop {
  display: flex;
}


.bottom-logo {
  margin: 0 120px 0 0;

}


}




@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-one {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url('../images/officedesctop1@2x.jpg');
  }
 

 
}