*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-weight: 400;
}

.main-link {
  
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  
}

.header-nav {
  display: flex;
  align-items: center;
  height: 56px;
  margin-left: 0;
}

img {
  display: block;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.nav-menu {
  
  display: none;
  gap: 40px;
}
.nav-menu li:first-child a {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-item::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.logo-studio {
  color: #2e2f42;
}
.nav-link:focus {
  color: #404bbf;
}
.nav-link:hover {
  color: #404bbf;
}

.nav-link {
  
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  display: block;

  letter-spacing: 0.02em;
  padding: 24px 0;
}

.addres-nav {
  display: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address-link {
  text-decoration: none;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.address-link:focus {
  color: #404bbf;
}
.address-link:hover {
  color: #404bbf;
}

/* Кнопка виклику меню хедера */

.nav-menu-button {
  width: 24px;
  height: 24px;
  position: absolute;
top: 16px;
right: 16px;
background-color: transparent;
border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section-one {
 width: 320;
 background-repeat: no-repeat;
 background-position: center;
    background-size: cover;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
  url(../images/officemobile.jpg);
  
 
  

}

@media (min-resolution: 192dpi) {
  .section-one {
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url('../images/office@2x.jpg');
  }
  
}

.button:focus {
  background-color: #404bbf;
}
.button:hover {
  background-color: #404bbf;
}
.button {
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

  

.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
/* початок другої секції*/

.section-two {
  padding: 96px 0;
}

.title-features {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0;
  padding: 0;
}

/* .section-one-item { */
  /* width: calc((100% - 72px) / 4); */
/* } */

.title-list {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-features {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;}

/* іконки другої секуії */
.section-two-icon{
display: none;
align-items: center;
justify-content: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
border: 1px solid #8e8f99;
margin-bottom: 8px;

}






/*початок третьої секції*/
.our-teamname {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.p-ourteam {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
 .section-three {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.our-team {
  background-color: #f4f4fd;
}
.title-ourteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}



.ul-our-team {
  width: 264px;
height: 428px;
  background-color: #ffffff;
  /* width: calc((100% - 3 * 24px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* соціалбні іконки третьої секції */

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
  
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alt-link{transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.social-link:hover, .social-link:focus {
  background-color: #404bbf;
}

.section-thre-icon {
  fill: #f4f4fd;
  
}

.social-link:hover .icon, .social-link:focus .icon {
  fill: #FFFFFF; 
}



.name-position {
  padding: 32px 0;
}

/*початок четвертої секції*/

.section-four {
  padding: 96px 0 96px 0;
}

.portfoliotitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}

.ul-portfolio {
  /* width: calc((100% - 2 * 24px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ul-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);

}

.ul-portfolio:hover .card-text {
  transform: translateY(0%);
}
/* РОЗМІЩЕННЯ RELETIV */
.ul-portfolio { position: relative;}
.portfolio-card {
  position:relative;
  overflow: hidden;
}

.card-text{
  margin: 0;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 288px;
height: 120px;
}

.portfolio-p {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}





/*початок футера*/

.bottom-page {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
  
}

.span-footer {
  color: #f4f4fd;
}

.bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.container-bottom {
  display: flex;
  flex-direction: column;
}

.bottom-logo {
  text-align: center;
  margin-bottom: 72px;
}
 
.bottom-icon {
  text-align: center;
} 

 .icon-text {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
 }
 .bottom-icon-list{
  display: flex;
  gap: 16px;
  text-align: center;
  justify-content: center;
  margin-bottom: 72px;
  
 }

 .bottom-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
 }

 .bottom-icon-link:hover {background-color: #31d0aa;}
.bottom-icon-link:focus {background-color: #31d0aa;}
 .bottom-social-item {
  width: 40px;
  height: 40px;
  
 }

 .bottom-social {
  fill: #f4f4fd;
 }



 /* Модальне вікно */
 .modal-overlay.is-open{
  opacity: 1;
  pointer-events: auto;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
    height: 623px;
  background: #fcfcfc;
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover { 
  background-color: #404bbf;
  border: none;
}
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover svg {
  fill: #ffffff;
}
.modal-button:focus svg {
  fill: #ffffff;
}
 
.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;;
}
.modal-name {
  margin-bottom: 8px;
}

.username {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.icon-username {
  position: relative;
}
.modal-item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  

}
.modal-item:focus {
  border-color: #4D5AE5;
}
.modal-item:focus + .icon-person {
  fill: #4D5AE5;
}


.icon-person {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-item:focus-within svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  margin-bottom: 16px;
}
.usercoment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.usercoment:focus {
  border-color: #4D5AE5;
}

.modal-box {
  margin-bottom: 24px;
}

.custom-text-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.alt-checkbox {
  width: 16px; 
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    
}


.check-link {
  padding-left: 4px;
  color: #4d5ae5;
}

.custom-checkbox:checked + .custom-text-checkbox .alt-checkbox {
  background-color:  #404bbf;
}

.custom-checkbox:checked + .custom-text-checkbox .alt-checkbox {
  border: none;
  fill: #F4F4FD;
}

.bottom-send {
  background-color: #4D5AE5;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;

}


/* footer form */
.form-footer {
 
  text-align: center;
}
.form-label {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.subscribe-item {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border-radius: 4px
}
::placeholder {
  color: #ffffff;}

  .subscribe-button {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
  }

  .icon-button-subscribe {
    margin-left: 16px;
  }



   /* Мобільне меню */
   /* .modal-mobile.is-open { */
    /* opacity: 1; */
    /* pointer-events: auto;  */
  /* } */
  
  .modal-mobile {
    width: 320px;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 16px;
  transition: opacity 250ms ease-in-out;
    /* opacity: 0; */
    /* pointer-events: none; */
    
    z-index: 99999999;
  }
  
  .nav-mobile-menu {
    display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
  
  }
  .address-link-mobile {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .item-mobile-first {
    color: #404bbf;
  }
  
  .address-mobile-link {
    text-decoration: none;
    font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  
  }
  .address-mobile-link-first {
    color: #4d5ae5;
  }
  
  .mobile-contact-list {
    display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
  }
  .social-list-mobile {
    display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  padding-bottom: 40px;
  }